/* common shared styles */
body{
    font-family: sans-serif;
}

.text-primary{
    color: #E55473
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

/* header related styles */
.header{
    background-color: rgba(229, 84, 115, 0.10);
    padding: 197px 0px 0px 197;
    display: flex;
    align-items: center;
}

.banner-content{
    padding-left: 240px;
}

.header-text{
    width: 50%;
    display: flex;
}

.header .profile-pic{
    width: 635px;
    height: 800px;
}

/* footer related styles */
.footer-container{
    width: 1922px;
    height: 449px;
    background: #111010;
    align-items: center;
    align-items: center;
}

.footer-title{
    padding-top: 128px;
text-align: center;
}

.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.text-secondary{
    color: white;
}